.App {
  text-align: center;
  background-image: url('./bg.png');
  background-position: center;
  background-size: cover;
}

header {
  color: white;
}
p {
  font-size: larger;
}
img {
  float: left;
  margin: 1%;
}
